@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light-mode {
    background-color: #ececec;

    --mainBg: #ececec;
    --loaderBg1: #e8e8e8;
    --loaderBg2: #b9b9b9;
    --simBg: #ececec;
    --highLightBg: #0091ff;
    --headerBegBg: #1e293b;
    --headerEndBg: #94a3b8;
    --centerLBg: #9a7a7a;

    --primary: #000000;
    --opposite: rgb(255, 255, 255);
    --secondary: #d1a8a8;
    --tertiary: #17244f;
    --header: #543939;
    --headerOpposite: #ffffff;
  }

  .dark-mode {
    /* background-color: #131823; */
    background-color: #222831;

    --mainBg: #222831;
    --loaderBg1: #020617;
    --loaderBg2: #0f172a;
    --simBg: #131823;
    --highLightBg: #0091ff;
    --headerBegBg: #94a3b8;
    --headerEndBg: #1e293b;
    --centerLBg: #393e46;

    --primary: #ffffff;
    --opposite: rgb(0, 0, 0);
    --secondary: #64748b;
    --tertiary: #b3c2da;
    --header: #ffffff;
    --headerOpposite: #543939;
  }
}

.li_card {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
