@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light-mode {
    background-color: #ececec;

    --simBg: #ececec;
    --highLightBg: #0091ff;
    --headerBegBg: #1e293b;
    --headerEndBg: #94a3b8;
    --centerLBg: #9a7a7a;

    --primary: #11121a;
    --secondary: #454f8a;
    --tertiary: #17244f;
  }

  .dark-mode {
    background-color: #131823;

    --simBg: #131823;
    --highLightBg: #0091ff;
    --headerBegBg: #94a3b8;
    --headerEndBg: #1e293b;
    --centerLBg: #9a7a7a;

    --primary: #ffffff;
    --secondary: #64748b;
    --tertiary: #b3c2da;
  }
}

.li_card {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
