@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light-mode {
    background-color: #ececec;

    --mainBg: #ececec;
    --simBg: #50b772;
    --headerBegBg: #1e293b;
    --headerEndBg: #94a3b8;

    --opposite: #ececec;
    --primary: #11121a;
    --secondary: #454f8a;
    --tertiary: #17244f;
  }

  .dark-mode {
    background-color: #232f4b;

    --mainBg: #232f4b;
    --simBg: #50b772;
    --headerBegBg: #94a3b8;
    --headerEndBg: #1e293b;

    --opposite: #111111;
    --primary: #e5e8ee;
    --secondary: #64748b;
    --tertiary: #b3c2da;
  }
}

.li {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* vertical-align: middle; */
  /* place-items: center; */
  align-items: center;
}

.li_card {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
