@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light-mode {
    background-color: #ececec;

    --mainBg: #ececec;
    --loaderBg1: #e8e8e8;
    --loaderBg2: #b9b9b9;
    --simBg: #ececec;
    --highLightBg: #0091ff;
    --headerBegBg: #1e293b;
    --headerEndBg: #94a3b8;
    --centerLBg: #9a7a7a;

    --primary: #000000;
    --opposite: rgb(255, 255, 255);
    --secondary: #d1a8a8;
    --tertiary: #17244f;
    --header: #543939;
    --headerOpposite: #ffffff;
  }

  .dark-mode {
    /* background-color: #131823; */
    background-color: #222831;

    --mainBg: #222831;
    --loaderBg1: #020617;
    --loaderBg2: #0f172a;
    --simBg: #131823;
    --highLightBg: #0091ff;
    --headerBegBg: #94a3b8;
    --headerEndBg: #1e293b;
    --centerLBg: #393e46;

    --primary: #ffffff;
    --opposite: rgb(0, 0, 0);
    --secondary: #64748b;
    --tertiary: #b3c2da;
    --header: rgb(255, 255, 255);
    --headerOpposite: rgb(84, 57, 57);
  }
}
.li_card {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.input {
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(209 213 219);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.input:focus {
  --tw-ring-offset-width: 1px;
  --tw-ring-color: rgb(34 197 94);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.add-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: rgb(22 163 74);
}
.add-button:hover {
  color: rgb(21 128 61);
}
.form-submit-button {
  gap: 0.5rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  transition-property: all;
  color: rgb(255 255 255);
  transition-duration: 150ms;
  background-color: rgb(22 163 74);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.form-submit-button:hover {
  background-color: rgb(21 128 61);
}
.form-submit-button:disabled {
  cursor: not-allowed;
}

.form-cancel-button {
  gap: 0.5rem;
  display: flex;
  font-weight: 500;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  transition-property: all;
  color: rgb(255 255 255);
  transition-duration: 150ms;
  background-color: rgb(107 114 128);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.form-cancel-button:hover {
  background-color: rgb(75 85 99);
}

.user-section-header {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
  color: var(--primary);
  transition-duration: 300ms;
}
